# Core
VITE_BASE_URL=http://localhost:3000

# Database
DATABASE_URL='http://127.0.0.1:8080' # This should be the URL when using default Turso CLI settings.
DATABASE_AUTH_TOKEN=

# Authentication
# Generate a secret here: https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

INSTAPAPER_OAUTH_ID=
INSTAPAPER_OAUTH_SECRET=

# Email
# Not required, but needed for functions like sending password reset emails.
SENDGRID_API_KEY=
