# Essential variables
# These are required for the app to work, either in development or production.
NEXT_PUBLIC_ROOT_URL=http://localhost:3000

# Database
DATABASE_URL=
DATABASE_AUTH_TOKEN=

# Authentication
# Generate a secret here: https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Email
# Not required, but needed for functions like sending password reset emails.
SENDGRID_API_KEY=
