# Database (only for cloud dbs or local libsql running on a custom port)
# DATABASE_URL='http://127.0.0.1:8080'
# DATABASE_AUTH_TOKEN=

# Authentication
# Generate a secret here: https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Email
# Not required, but needed for functions like sending password reset emails.
SENDGRID_API_KEY=

# Integrations
INSTAPAPER_OAUTH_ID=
INSTAPAPER_OAUTH_SECRET=

# Analytics
VITE_PUBLIC_UMAMI_WEBSITE_ID=
VITE_PUBLIC_UMAMI_SRC=
